.nav1
{
    height: 78px;

    background-color: #42484d;
}
.head1
{
    width: 941px;
    margin: 0 auto;
}
.head1 img
{
    float: left;

    margin-top: 26px;

    cursor: pointer;
}
.head1 ul
{
    float: right;

    margin-top: 35px;

    list-style: none;

    cursor: pointer;
}
.head1 ul li
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;

    display: inline-block;

    height: 39px;
    padding: 0 20px;

    text-transform: uppercase;

    color: #fff;
}
.head1 ul li:hover
{
    color: #00adf0;
    border-bottom: 2px solid #00adf0;
}
.nav2
{
    width: 941px;
    height: 35px;
    margin: 21px auto;
}
.phone
{
    display: inline-block;

    width: 30px;
    height: 30px;
    margin-top: 5px;

    cursor: pointer;
    vertical-align: top;

    opacity: .38;
    background: url(img/sprite.png) no-repeat;
}
.phone:hover
{
    opacity: 1;
}
.contact
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 200;
    line-height: 35px;

    display: inline-block;

    width: 365px;
    height: 30px;

    vertical-align: top;

    color: #616161;
}
.contbold
{
    font-weight: 600;

    color: #00adf0;
}
.twit
{
    display: inline-block;

    width: 30px;
    height: 30px;
    margin-top: 5px;

    cursor: pointer;
    vertical-align: top;

    opacity: .38;
    background: url(img/sprite.png) no-repeat;
    background-position: -35px 0;
}
.twit:hover
{
    opacity: 1;
}
.fb
{
    display: inline-block;

    width: 30px;
    height: 30px;
    margin-top: 5px;

    cursor: pointer;
    vertical-align: top;

    opacity: .38;
    background: url(img/sprite.png) no-repeat;
    background-position: -73px 0;
}
.fb:hover
{
    opacity: 1;
}
.dribble
{
    display: inline-block;

    width: 30px;
    height: 30px;
    margin-top: 5px;

    cursor: pointer;
    vertical-align: top;

    opacity: .38;
    background: url(img/sprite.png) no-repeat;
    background-position: -110px 0;
}
.dribble:hover
{
    opacity: 1;
}
.vim
{
    display: inline-block;

    width: 30px;
    height: 30px;
    margin-top: 5px;

    cursor: pointer;
    vertical-align: top;

    opacity: .38;
    background: url(img/sprite.png) no-repeat;
    background-position: -150px 0;
}
.vim:hover
{
    opacity: 1;
}
.skype
{
    display: inline-block;

    width: 30px;
    height: 30px;
    margin-top: 5px;

    cursor: pointer;
    vertical-align: top;

    opacity: .38;
    background: url(img/sprite.png) no-repeat;
    background-position: -190px 0;
}
.skype:hover
{
    opacity: 1;
}
.search
{
    display: inline-block;
    float: right;

    vertical-align: top;
}
input[name=topsearch]
{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;

    width: 220px;
    height: 32px;
    padding-left: 12px;

    background: url(img/search.png) no-repeat, #f6f6f6;
    background-position: 202px 11px;
}
.searchbr
{
    border: 1px solid rgba(218,218,218,.83);
}
.slider
{
    position: relative;

    height: 448px;

    background: url(img/slide2.png) no-repeat;
    background-size: 100% 100%;
}
.buttons-slider
{
    position: absolute;
    top: 190px;
    right: 0;
    left: 0;

    width: 1000px;
    height: 50px;
    margin: 0 auto;
}
.buttons-slider .left-button
{
    float: left;

    width: 25px;
    height: 50px;

    cursor: pointer;

    background: url(img/left-first-slide.png) no-repeat;
}
.buttons-slider .right-button
{
    float: right;

    width: 25px;
    height: 50px;

    cursor: pointer;

    background: url(img/right-first-slide.png) no-repeat;
}
.img-slider
{
    position: absolute;
    right: 550px;
    bottom: 0;
    left: 0;

    width: 306px;
    height: 360px;
    margin: 0 auto;

    background: url(img/slider-block-image.png) no-repeat;
}
.block-text-slider
{
    position: absolute;
    top: 120px;
    right: 0;
    left: 220px;

    width: 373px;
    margin: 0 auto;
}
.block-text-slider span
{
    margin-bottom: 1px;
}
.red-block,
.grey-block,
.green-block
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 32px;

    display: inline-block;

    padding: 10px 20px;

    text-transform: uppercase;

    color: #fff;
}
.red-block
{
    background-color: rgba(181,95,84,.55);
}
.grey-block
{
    background-color: rgba(60,55,93,.55);
}
.green-block
{
    background-color: rgba(55,198,106,.55);
}
.blue-button
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;

    position: relative;

    display: inline-block;

    padding: 10px 40px 10px 20px;

    cursor: pointer;

    color: #fff;
    background-color: rgba(0,173,240,.5);
}
.blue-button:before
{
    position: absolute;
    top: 13px;
    right: 10px;

    width: 20px;
    height: 19px;

    content: '';

    background: url(img/send.png) no-repeat;
}
.buttons-bottom-slider ul
{
    position: absolute;
    right: 0;
    bottom: 20px;
    left: 0;

    width: 120px;
    height: 30px;
    margin: 0 auto;

    list-style: none;

    cursor: pointer;
}
.buttons-bottom-slider ul li
{
    display: inline-block;

    width: 10px;
    height: 10px;
    margin-right: 4px;

    border: 3px solid #fff;
    border-radius: 8px;
}
.buttons-bottom-slider ul li:hover
{
    transition: all .3s;

    background: #00adef;
}



.service
{
    width: 941px;
    margin: 73px auto 0;
}
.service h1
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 38px;
    font-weight: 300;

    text-align: center;

    opacity: .7;
    color: #313131;
}
.servicebold
{
    font-weight: 600;
}
.servic_p
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 13px;
    font-weight: 400;

    margin-top: 20px;
    margin-bottom: 35px;

    text-align: center;

    color: #616161;
}
.service_block1
{
    display: inline-block;

    width: 301px;
    height: 351px;

    cursor: pointer;
    vertical-align: top;
}
.blocksprite1
{
    width: 160px;
    height: 157px;
    margin: 35px auto 0;

    opacity: .40;
    background: url(img/blocksprite.png) no-repeat;
}
.service_block2
{
    display: inline-block;

    width: 321px;
    height: 351px;

    cursor: pointer;
    vertical-align: top;
}
.blocksprite2
{
    width: 160px;
    height: 157px;
    margin: 35px auto 0;

    opacity: .40;
    background: url(img/blocksprite.png) no-repeat;
    background-position: -159px 0;
}
.service_block3
{
    display: inline-block;

    width: 301px;
    height: 351px;

    cursor: pointer;
    vertical-align: top;
}
.blocksprite3
{
    width: 160px;
    height: 157px;
    margin: 35px auto 0;

    opacity: .40;
    background: url(img/blocksprite.png) no-repeat;
    background-position: -322px 0;
}
.service_block1:hover,
.service_block2:hover,
.service_block3:hover
{
    background-color: #f6f6f6;
}
.service h2
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 26px;
    font-weight: 300;

    margin-top: 17px;

    text-align: center;

    opacity: .40;
    color: #5d6165;
}
.service p
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;

    margin-top: 25px;

    text-align: center;

    opacity: .40;
    color: #616161;
}
.active_service
{
    height: 526px;

    background-color: #f6f6f6;
}
.service_width
{
    width: 941px;
    margin: 0 auto;
}
.active_service h2
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 26px;
    font-weight: 300;

    padding-top: 60px;

    text-align: center;

    color: #5d6165;
}
.active_service p
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;

    margin-top: 25px;

    text-align: center;

    color: #616161;
}
.workitem1,
.workitem2,
.workitem3
{
    position: relative;

    display: inline-block;

    width: 301px;
    height: 281px;
    margin-top: 45px;

    vertical-align: top;

    border: 1px solid #d2d2d2;
}
.workitem1
{
    margin-right: 10px;
}
.eye_after
{
    position: absolute;
    top: 182px;
    right: 17px;

    display: block;

    width: 48px;
    height: 48px;

    cursor: pointer;

    border-radius: 50%;
    background: url(img/eye.png) no-repeat, #00adf0;
    background-position: center;
    box-shadow: 0 0 0 3px white;
}
.eye_after:hover
{
    background: url(img/eye.png) no-repeat, #616161;
    background-position: center;
}
.workitem1 img,
.workitem2 img,
.workitem3 img
{
    border: 1px solid #d2d2d2;
}
.workitem1 p,
.workitem2 p,
.workitem3 p
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 300;

    margin-top: 10px;
    margin-left: 14px;

    text-align: left;

    color: #616161;
}
.workitem3
{
    margin-left: 10px;
}
.about_site
{
    height: 885px;

    background-color: #42484d;
}
.about_team
{
    width: 941px;
    margin: 0 auto;
}
.about_team h2
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 37px;
    font-weight: 300;

    padding-top: 65px;

    text-align: center;

    color: #fff;
}
.about_team h3
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 26px;
    font-weight: 300;

    padding-top: 20px;

    text-align: center;

    color: #fff;
}
.about_team p
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    padding-top: 20px;

    text-align: center;

    color: #fff;
}
.about_team ul
{
    margin-top: 15px;

    list-style: none;
}
.about_team li
{
    display: inline-block;

    width: 30px;
    height: 25px;

    cursor: pointer;

    background: url(img/aboutsprite.png) no-repeat;
}
.info_team1 li:first-child
{
    margin-left: 48px;
}
.info_team2 li:first-child
{
    margin-left: 32px;
}
.info_team3 li:first-child
{
    margin-left: 68px;
}
.info_team4 li:first-child
{
    margin-left: 68px;
}
.info_team1 li:nth-child(2)
{
    background-position: -29px 0;
}
.info_team1 li:nth-child(3)
{
    background-position: -59px 0;
}
.info_team1 li:last-child
{
    background-position: -114px 0;
}
.info_team2 li:nth-child(2)
{
    background-position: -29px 0;
}
.info_team2 li:nth-child(3)
{
    background-position: -59px 0;
}
.info_team2 li:nth-child(4)
{
    background-position: -89px 0;
}
.info_team2 li:last-child
{
    background-position: -114px 0;
}
.info_team3 li:nth-child(2)
{
    background-position: -29px 0;
}
.info_team3 li:last-child
{
    background-position: -114px 0;
}
.info_team4 li:nth-child(2)
{
    background-position: -29px 0;
}
.info_team4 li:last-child
{
    background-position: -59px 0;
}
.info_team1,
.info_team2,
.info_team3,
.info_team4
{
    display: inline-block;

    width: 220px;
    margin-top: 60px;
    margin-right: 5px;
    margin-left: 5px;

    vertical-align: top;
}
.info_team1 p,
.info_team2 p,
.info_team3 p,
.info_team4 p
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 300;

    width: 180px;
    margin: 0 auto;
    padding-top: 15px;

    text-align: center;

    color: #fff;
}
.photo_team1
{
    width: 149px;
    height: 149px;
    margin: 6px auto 0;

    border-radius: 50%;
    background: url(img/william.png) no-repeat;
    background-position: center;
    box-shadow: 0 0 0 6px white;
}
.photo_team2
{
    width: 149px;
    height: 149px;
    margin: 6px auto 0;

    border-radius: 50%;
    background: url(img/john.png) no-repeat;
    background-position: center;
    box-shadow: 0 0 0 6px white;
}
.photo_team3
{
    width: 149px;
    height: 149px;
    margin: 6px auto 0;

    border-radius: 50%;
    background: url(img/patricia.png) no-repeat;
    background-position: center;
    box-shadow: 0 0 0 6px white;
}
.photo_team4
{
    width: 149px;
    height: 149px;
    margin: 6px auto 0;

    border-radius: 50%;
    background: url(img/charlton.png) no-repeat;
    background-position: center;
    box-shadow: 0 0 0 6px white;
}
.client
{
    width: 941px;
    margin: 65px auto 0;
}
.testimonials,
.skills
{
    position: relative;

    display: inline-block;

    height: 270px;

    vertical-align: top;
}
.testimonials
{
    width: 455;
}
.skills
{
    width: 460px;
    margin-left: 10px;
}
.testimonials h3
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 26px;
    font-weight: 300;

    padding-top: 8px;

    color: #fff;
}
.testimonials p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

    margin-top: -10px;

    text-indent: 25px;

    color: #fff;
}
.left_client
{
    position: absolute;
    top: 10px;
    right: 30px;

    width: 12px;
    height: 30px;

    cursor: pointer;

    background: url(img/leftclient.png) no-repeat;
}
.right_client
{
    position: absolute;
    top: 10px;
    right: 5px;

    width: 12px;
    height: 30px;

    cursor: pointer;

    background: url(img/rigjt_client.png) no-repeat;
}
.photo_sushi
{
    display: inline-block;

    width: 125px;
    height: 125px;
    margin-top: 40px;
    margin-left: 15px;

    border-radius: 50%;
    background: url(img/sushi.png) no-repeat;
    background-position: center;
    box-shadow: 0 0 0 6px white;
}
.client_p
{
    position: relative;

    display: inline-block;

    width: 280px;
    margin-top: 45px;
    margin-top: 50px;
    margin-left: 35px;

    vertical-align: top;
}
.apostr
{
    width: 20px;
    height: 14px;

    background: url(img/apostr.png) no-repeat;
}
.apostr2
{
    position: absolute;
    top: 60px;
    left: 160px;

    width: 20px;
    height: 14px;

    background: url(img/apostr.png) no-repeat;
}
.client_cont,
.cont_blue
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 300;

    display: block;

    text-align: right;

    color: #fff;
}
.cont_blue
{
    cursor: pointer;

    color: #00adf0;
}
.skills h3
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 26px;
    font-weight: 300;

    padding-top: 8px;

    color: #fff;
}
.wrap
{
    margin-top: 30px;
    margin-bottom: 15px;
}
.wrap3
{
    margin-top: 15px;
    margin-bottom: 15px;
}
.skills_android
{
    display: inline-block;

    width: 19px;
    height: 20px;

    background: url(img/skillssprtite.png) no-repeat;
}
.skill_apple
{
    display: inline-block;

    width: 19px;
    height: 20px;

    background: url(img/skillssprtite.png) no-repeat;
    background-position: 0 -48px;
}
.skill_blackbery
{
    display: inline-block;

    width: 19px;
    height: 20px;

    background: url(img/skillssprtite.png) no-repeat;
    background-position: 0 -95px;
}
.skill_more
{
    display: inline-block;

    width: 19px;
    height: 20px;

    background: url(img/skillssprtite.png) no-repeat;
    background-position: 0 -145px;
}
.skills p
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-style: italic;

    color: #fff;
}
.skills_left_p
{
    display: inline-block;

    vertical-align: 5px;
}
.skills_right_p
{
    display: inline-block;
    float: right;

    vertical-align: inherit;
}
.progress1
{
    position: relative;

    height: 6px;

    background-color: #d0d0d0;
}
.progress1::after
{
    position: absolute;

    display: inline-block;

    width: 350px;
    height: 6px;

    content: '';

    background-color: #00adf0;
}
.progress2
{
    position: relative;

    height: 6px;

    background-color: #d0d0d0;
}
.progress2::after
{
    position: absolute;

    display: inline-block;

    width: 380px;
    height: 6px;

    content: '';

    background-color: #00adf0;
}
.progress3
{
    position: relative;

    height: 6px;

    background-color: #d0d0d0;
}
.progress3::after
{
    position: absolute;

    display: inline-block;

    width: 250px;
    height: 6px;

    content: '';

    background-color: #00adf0;
}
.info_blog
{
    width: 941px;
    margin: 80px auto 0;
}
.blog h2
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 38px;
    font-weight: 300;

    text-align: center;

    opacity: .7;
    color: #000;
}
.blog p
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;

    padding-top: 20px;

    text-align: center;

    color: #626262;
}
.photo_blog1
{
    width: 850px;
    height: 105px;
    margin: 45px auto 0;
}
.photo_blog1 img:first-child
{
    opacity: 1;
}
.photo_blog1 img
{
    cursor: pointer;

    opacity: .3;
}
.photo_blog1 img:hover
{
    opacity: 1;
}
.photo_blog2
{
    width: 790px;
    height: 105px;
    margin: 2px auto;
}
.photo_blog2 img
{
    cursor: pointer;

    opacity: .3;
}
.photo_blog2 img:hover
{
    opacity: 1;
}
.blandit
{
    position: relative;

    width: 980px;
    height: 300px;
    margin-top: -85px;

    border: 1px solid #d5d5d5;
    background-color: #f6f6f6;
}
.blandit::before,
.blandit::after
{
    position: absolute;
    top: -50px;
    left: 160px;

    content: '';

    border: 30px solid transparent;
    border-bottom: 20px solid #d5d5d5;
}
.blandit::after
{
    top: -49px;

    border-bottom: 20px solid #f6f6f6;
}
.blandit h3
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 300;

    padding-top: 55px;
    padding-left: 40px;

    color: #5d6165;
}
.column_text
{
    width: 900px;
    margin: 30px auto 0;
}
.column_text p
{
    width: 411px;
    padding-top: 0;
    padding-bottom: 20px;

    text-align: inherit;
}
.bland_p,
.bland_p2
{
    display: inline-block;

    vertical-align: top;
}
.bland_p2
{
    margin-left: 60px;
}
.bland_posted
{
    width: 980px;
    padding-top: 17px;
    padding-bottom: 17px;

    border: 1px solid #d5d5d5;
    background-color: #f6f6f6;
}
.bland_posted h4
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;

    padding-left: 42px;

    color: #2f2f2f;
}
.map
{
    height: 495px;
    margin-top: 75px;

    background: url(img/map.png) no-repeat;
    background-size: 100% 100%;
}
.adres_cont
{
    width: 899px;
    margin: 0 auto;
    padding-top: 120px;
}
.adres
{
    position: relative;

    display: inline-block;

    width: 380px;
    height: 165px;
    padding-top: 25px;
    padding-left: 25px;

    vertical-align: top;

    background-color: #00adf0;
}
.adres:after
{
    position: absolute;
    top: 190px;
    left: 177px;

    content: '';

    border: 19px solid transparent;
    border-top: 27px solid #00adf0;
}
.adres h2
{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;

    padding-bottom: 5px;

    color: #fff;
}
.adres p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;

    padding-top: 25px;

    color: #fff;
}
.fedback
{
    display: inline-block;

    width: 485px;
    height: 190px;

    vertical-align: top;

    background-color: #00adf0;
}
.fedback form
{
    display: inline-block;

    width: 225px;
    margin-top: 20px;
    margin-left: 20px;

    vertical-align: top;
}
.fedback form:nth-child(2)
{
    margin-left: inherit;
}
.fedback form:last-child
{
    width: 460px;
    margin-top: inherit;
}
.fedback input::-webkit-input-placeholder
{
    color: #fff;
}
.fedback input:-moz-placeholder
{
    color: #fff;
}

input[name=adres_name],
input[name=adres_email]
{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;

    width: 215px;
    height: 38px;
    padding-left: 10px;

    color: #fff;
    border: none;
    background-color: rgba(0,140,191,.5);
}
textarea::-webkit-input-placeholder
{
    color: #fff;
}
textarea:-moz-placeholder
{
    color: #fff;
}
textarea[name=adres_message]
{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;

    width: 443px;
    height: 108px;
    margin-top: 3px;
    padding-left: 10px;

    color: #fff;
    border: none;
    background-color: rgba(0,140,191,.5);
}
.send
{
    float: right;

    width: 180px;
    height: 43px;
    margin-top: 10px;
    margin-right: 4px;

    cursor: pointer;

    background: url(img/send.png) no-repeat, #00adf0;
    background-position: 150px 12px;
}
.send h3
{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 43px;

    padding-left: 28px;

    color: #fff;
}
@media screen and (max-width: 1238px)
{
    .adres:after
    {
        left: 200px;
    }
}
@media screen and (max-width: 1100px)
{
    .adres:after
    {
        left: 225px;
    }
}
@media screen and (max-width: 950px)
{
    .adres:after
    {
        left: 260px;
    }
}
/*              Footer             */
.social_buttons
{
    height: 78px;

    background-color: #575f66;
}
.social_buttons ul
{
    width: 250px;
    margin: 0 auto;

    list-style: none;
}
.social_buttons ul li
{
    display: inline-block;

    width: 45px;
    height: 45px;
    margin-top: 20px;

    cursor: pointer;
    vertical-align: top;

    background: url(img/social_buttons_sprite.png) no-repeat;
    background-position: 10px 0;
}
.social_buttons ul li:nth-child(2)
{
    background-position: -35px 0;
}
.social_buttons ul li:nth-child(3)
{
    background-position: -88px 0;
}
.social_buttons ul li:nth-child(4)
{
    background-position: -139px 0;
}
.social_buttons ul li:last-child
{
    background-position: -193px 0;
}
.newsletter
{
    height: 172px;
    padding-top: 43px;

    background-color: #42484d;
}
.comp_supp
{
    position: relative;

    width: 981px;
    height: 100px;
    margin: 0 auto;
}
.comp_supp h2
{
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-weight: 300;

    color: #fff;
}
.comp_supp h3
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;

    margin-top: 3px;

    color: #fff;
}
.comp_supp h3:nth-child(2)
{
    margin-top: 25px;
}
.company_sup,
.support_sup,
.service_sup
{
    display: inline-block;

    margin-right: 50px;

    vertical-align: top;
}
.newsletter_sup
{
    display: inline-block;
    float: right;

    width: 302px;

    vertical-align: top;
}
input[name=newsletter_addres]
{
    line-height: 33px;

    width: 274px;
    height: 33px;
    margin-top: 25px;
    padding-left: 20px;

    color: #fff;
    border: none;
    background-color: #868686;
}
.newsletter_sup p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 300;

    margin-top: 10px;

    opacity: .3;
    color: #fff;
}
.totop
{
    position: absolute;
    right: -127px;
    bottom: -52px;

    width: 60px;
    height: 65px;

    cursor: pointer;

    background: url(img/totop.png) no-repeat;
}
.totop a
{
    display: inline-block;

    width: 60px;
    height: 65px;

    text-decoration: none;
}
.copyright
{
    height: 55px;

    background-color: #575f66;
}
.copyright p
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 55px;

    position: relative;

    width: 380px;
    margin: 0 auto;

    text-align: center;
    text-transform: uppercase;

    color: #fff;
}
.copyright p:before
{
    position: absolute;
    top: 20px;
    left: -15px;

    width: 15px;
    height: 15px;

    content: '';

    background: url(img/copy.png) no-repeat;
}
.blue_copy
{
    color: #00adf0;
}
